<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hae.sfaas.domain.welder.mapper.WelderMapper">

    <select id="findGateTimeAVGBySpeed" parameterType="Welder" resultType="WelderGateTime">
        SELECT
        speed,
        AVG(length) AS average_length,
        AVG(gate_on_time) AS average_gate_on_time
        <if test="filter != null and filter != ''">
            <choose>
                <when test="filter == 'HOUR'">
                    ,DATE_FORMAT(create_at, '%Y-%m-%d %H:00:00') AS filter_group
                </when>
                <when test="filter == 'DATE'">
                    ,DATE(create_at) AS filter_group
                </when>
                <when test="filter == 'WEEK'">
                    ,DATE_FORMAT(create_at, '%Y%V') AS filter_group
                </when>
                <when test="filter == 'MONTH'">
                    ,DATE_FORMAT(create_at, '%Y-%m') AS filter_group
                </when>
                <otherwise>
                    ,NULL AS filter_group
                </otherwise>
            </choose>
        </if>
        FROM ${sfaas.db.schema}.user u
        JOIN ${sfaas.db.schema}.welder w ON u.factory_id = w.factory_id
        WHERE u.factory_id = #{factoryId}
        <if test="startAt != null and endAt != null">
            AND (create_at BETWEEN #{startAt} AND #{endAt})
        </if>
        <if test="filter != null and filter != ''">
            <choose>
                <when test="filter == 'HOUR'">
                    GROUP BY speed, DATE_FORMAT(create_at, '%Y-%m-%d %H:00:00')
                </when>
                <when test="filter == 'DATE'">
                    GROUP BY speed, DATE(create_at)
                </when>
                <when test="filter == 'WEEK'">
                    GROUP BY speed, DATE_FORMAT(create_at, '%Y%V')
                </when>
                <when test="filter == 'MONTH'">
                    GROUP BY speed, DATE_FORMAT(create_at, '%Y-%m')
                </when>
                <otherwise>
                    GROUP BY speed
                </otherwise>
            </choose>
        </if>
        ORDER BY filter_group IS NULL, filter_group ASC
    </select>

<!--    TODO - 쿼리 성능 향상 필수 -->
    <select id="findAllByfactoryId" parameterType="Welder" resultType="DetailWelder">
        SELECT *
        FROM ${sfaas.db.schema}.factory f
        JOIN ${sfaas.db.schema}.welder w ON f.factory_id = w.factory_id
        WHERE w.factory_id = #{factoryId}
        <if test="startAt != null and endAt != null">
            AND (create_at BETWEEN #{startAt} AND #{endAt})
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY create_at DESC
        LIMIT 100 <!-- 임시 -->
    </select>

    <select id="findStatusCount" parameterType="Welder" resultType="WelderStatus">
        SELECT
        speed,
        SUM(status) AS total_count,
        SUM(CASE WHEN status = 'OK' THEN 1 ELSE 0 END) AS ok_count,
        SUM(CASE WHEN status = 'NG' THEN 1 ELSE 0 END) AS ng_count
        FROM ${sfaas.db.schema}.user u
        JOIN ${sfaas.db.schema}.welder w ON u.factory_id = w.factory_id
        WHERE u.factory_id = #{factoryId}
        <if test="startAt != null and endAt != null">
            AND (create_at BETWEEN #{startAt} AND #{endAt})
        </if>
        GROUP BY speed
    </select>

</mapper>
