<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hae.sfaas.domain.battery.mapper.BatteryMapper">
    <select id="findStatusCountbyfId" resultType="BatteryStatus">
        SELECT
            u.factory_id,
            SUM(CASE WHEN status = 'OK' THEN 1 ELSE 0 END) AS ok_count,
            SUM(CASE WHEN status = 'NG' THEN 1 ELSE 0 END) AS ng_count
        FROM ${sfaas.db.schema}.user u
        JOIN ${sfaas.db.schema}.battery b ON u.factory_id = b.factory_id
        WHERE u.factory_id = #{factoryId}
        GROUP BY u.factory_id
    </select>

    <select id="findBatteryOutput" resultType="BatteryOutput">
        SELECT
            u.factory_id,
            COUNT(*) AS totalCount,
            CONCAT(
                    DATE_FORMAT(b.create_at, '%Y-%m-%d '),LPAD(FLOOR(HOUR(b.create_at) / 2) * 2, 2, '0'),':00:00'
            ) AS filterGroup
        FROM ${sfaas.db.schema}.user u
        JOIN ${sfaas.db.schema}.battery b ON u.factory_id = b.factory_id
        WHERE u.factory_id = #{factoryId}
        <![CDATA[
                  AND b.create_at >= '2022-06-07'
                  AND b.create_at <= '2022-06-08 01:00:00'
        ]]>
        GROUP BY u.factory_id, filterGroup
        ORDER BY filterGroup ASC;
    </select>
</mapper>
