<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hae.sfaas.domain.welder.mapper.WelderMapper">

    <select id="findGateTimeAVGBySpeed" parameterType="Welder" resultType="WelderGateTime">
        SELECT
        speed,
        AVG(length) AS average_length,
        AVG(gate_on_time) AS average_gate_on_time,
        <if test="filter != null and filter != ''">
            <choose>
                <when test="filter == 'DATE'">
                    DATE(create_at) AS filter_group
                </when>
                <when test="filter == 'WEEK'">
                    DATE_FORMAT(create_at, '%Y%V') AS filter_group
                </when>
                <when test="filter == 'MONTH'">
                    DATE_FORMAT(create_at, '%Y-%m') AS filter_group
                </when>
                <otherwise>
                    NULL AS filter_group
                </otherwise>
            </choose>
        </if>
        FROM ${sfaas.db.schema}.user u
        JOIN ${sfaas.db.schema}.welder w ON u.factory_id = w.factory_id
        WHERE u.factory_id = #{factoryId}
        <if test="startAt != null and endAt != null">
            AND (create_at BETWEEN #{startAt} AND #{endAt})
        </if>
        <if test="filter != null and filter != ''">
            <choose>
                <when test="filter == 'DATE'">
                    GROUP BY speed, DATE(create_at)
                </when>
                <when test="filter == 'WEEK'">
                    GROUP BY speed, DATE_FORMAT(create_at, '%Y%V')
                </when>
                <when test="filter == 'MONTH'">
                    GROUP BY speed, DATE_FORMAT(create_at, '%Y-%m')
                </when>
                <otherwise>
                    GROUP BY speed
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="findAllByfactoryId" parameterType="Welder" resultType="Welder">
        SELECT *
        FROM ${sfaas.db.schema}.factory f
        JOIN ${sfaas.db.schema}.welder w ON f.factory_id = w.factory_id
        WHERE w.factory_id = #{factoryId}
        <if test="startAt != null and endAt != null">
            AND (create_at BETWEEN #{startAt} AND #{endAt})
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

</mapper>
